yahoo/__pycache__/
yahoo/deep_exp_prior_1_10_epi_40/
yahoo/experiment/
toy/experiment/
toy/__pycache__/
toy/experiment*
.ipynb*
*.ipynb
experiment*
toy/immediate*
*.png
*.jpg
*.pdf
hyper*
*.pptx
*.bmp
*_new.pkl
